
div(ng-show="started")
  .bar.bar-header
    p.kamran از حرف: {{letter}}
    p.kamran زمان: {{time}}
  .list
    label.item.item-input(ng-repeat="(name,field) in fields")
      span.input-label.fields.kamran
        {{name}}
      input(ng-model="field.value" type="text")

.bar.bar-footer.bar-dark
  button.button.button-done.kamran(
    type='button'
    ng-show="allFilled" ng-click="done()"
  ) آقا استپ
