.bar.bar-header.bar-light
  span(class="bar-{{myself.provider}}-logo ion-social-{{myself.provider}}")
  span.name-container.cabin {{myself.name}}
  button.button.button-icon.icon.ion-log-out.bar-log-out(ng-click="logout()")
