h3 امتیاز

.row
  .col
  .col(ng-repeat="roundNum in rounds") {{roundNum}}
.row(ng-repeat="(playerId, playerData) in game")
  .col.item.item-avatar
    img(ng-src="players[playerId].picture")
    p {{players[playerId].name}}
  .col(ng-repeat='roundNum in rounds')
    p {{playerData.score['r'+roundNum] || '0'}}

button.button.button-dark.button-replay(
  type='button'
  ng-show='admin'
  ng-click='replay()'
) آقا یه دست دیگه
