.center-align
  h3 {{review.title}}
  p.kamran زمان: {{review.time}}

ul.list
  li.item.item-toggle(ng-repeat="(id, field) in review.fields")
    .item.item-avatar
      img(ng-src="{{players[id].picture}}")
      p.kamran {{players[id].name}}: {{field.input}}
    label.toggle.toggle-dark
      input(type="checkbox"
        ng-model="field.acceptable"
        ng-change="accept(id, field.acceptable)"
      )
      .track
        .handle
