
<ion-slide-box>
  <ion-slide>
    <div class="box">
      <div class="list">
        <div class="centered-align kamran">دوستان آنلاین</div><a ng-repeat="friend in players" ng-click="invite(friend.id)" class="item item-avatar"><img ng-src="{{friend.picture}}"/>
          <h2 class="cabin">{{friend.name}}</h2>
          <p class="cabin">| {{friend.displayName}}</p></a>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box">
      <div class="list">
        <div class="centered-align kamran">دوستانی که دعوت کرده‌اید</div>
        <div ng-repeat="participant in players|participants" class="item item-avatar"><img ng-src="{{participant.picture}}"/>
          <h2>{{participant.name}}</h2>
          <p>| {{participant.displayName}}</p>
        </div>
      </div>
      <div class="centered-align kamran"><a ui-sref="game" class="button button-dark button-start-game kamran">شروع بازی</a></div>
    </div>
  </ion-slide>
</ion-slide-box>