.bar.bar-light {
  background-color: rgba(255,255,255,.85);
}

.button.button-icon {
  width: 40px;
  height: 32px;
  margin-right: 10px;
}

.bar-facebook-logo {
  color: #fff;
  font-size: 22px;
  padding: 3px 4px 0px 9px;
  margin: 2px 10px 0px 15px;
  width: 27px;
  height: 27px;
  background-color: #3b5999;
}

.bar-googleplus-logo {
  color: #fff;
  font-size: 22px;
  padding: 3px 4px 0px 4px;
  margin: 2px 10px 0px 15px;
  width: 27px;
  height: 27px;
  background-color: #d34836;
}

.table {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  margin: 0 auto;
}

.bar-log-out {
  position: absolute;
  right: 0px;
  margin-top: 2px;
}

.name-container {
  font-size: 18px;
  fint-weight: 500;
  color: #444;
  margin-top: 6px;
}

.button.button-new-game {
  font-size: 25px;
  width: 180px;
}

.button.button-start-game {
  font-size: 25px;
  width: 180px;
  margin-top: 10px;
}

.anouncemnet {
  font-size: 20px;
  color: #444;
}

.list .kamran {
  font-size: 22px;
  margin-bottom: 5px;
}
